<h3>English</h3>

<h5>Default</h5>
<div class="flex-row">
  {{input type="number" value=numberDefault}}
  <span>{{number-to-english number=numberDefault}}</span>
</div>

<h5>Decimal - word</h5>
<div class="flex-row">
  {{input type="number" value=numberDecimalWord}}
  <span>{{number-to-english number=numberDecimalWord decimal="word"}}</span>
</div>

<h5>Decimal - fraction</h5>
<div class="flex-row">
  {{input type="number" value=numberDecimalFraction}}
  <span>{{number-to-english number=numberDecimalFraction decimal="fraction"}}</span>
</div>

<h3>French</h3>

<h5>Default</h5>
<div class="flex-row">
  {{input type="number" value=numberDefault}}
  <span>{{number-to-french number=numberDefault}}</span>
</div>

<h5>Decimal - word</h5>
<div class="flex-row">
  {{input type="number" value=numberDecimalWord}}
  <span>{{number-to-french number=numberDecimalWord decimal="word"}}</span>
</div>

<h5>Decimal - fraction</h5>
<div class="flex-row">
  {{input type="number" value=numberDecimalFraction}}
  <span>{{number-to-french number=numberDecimalFraction decimal="fraction"}}</span>
</div>
