<h3>Default</h3>

{{input type="number" value=numberDefault}}

<div class="flex-row">
  <span class="language">English: </span>
  <span>{{number-to-english number=numberDefault}}</span>
</div>
<div class="flex-row">
  <span class="language">French: </span>
  <span>{{number-to-french number=numberDefault}}</span>
</div>
<div class="flex-row">
  <span class="language">Spanish: </span>
  <span>{{number-to-spanish number=numberDefault}}</span>
</div>

<h3>Decimal - word</h3>

{{input type="number" value=numberDecimalWord}}

<div class="flex-row">
  <span class="language">English: </span>
  <span>{{number-to-english number=numberDecimalWord decimal="word"}}</span>
</div>
<div class="flex-row">
  <span class="language">French: </span>
  <span>{{number-to-french number=numberDecimalWord decimal="word"}}</span>
</div>
<div class="flex-row">
  <span class="language">Spanish: </span>
  <span>{{number-to-spanish number=numberDecimalWord decimal="word"}}</span>
</div>

<h3>Decimal - fraction</h3>

{{input type="number" value=numberDecimalFraction}}

<div class="flex-row">
  <span class="language">English: </span>
  <span>{{number-to-english number=numberDecimalFraction decimal="fraction"}}</span>
</div>
<div class="flex-row">
  <span class="language">French: </span>
  <span>{{number-to-french number=numberDecimalFraction decimal="fraction"}}</span>
</div>
<div class="flex-row">
  <span class="language">Spanish: </span>
  <span>{{number-to-spanish number=numberDecimalFraction decimal="fraction"}}</span>
</div>
